kbd {
  display: none !important;
}

pre::-webkit-scrollbar {
  display: none;
}

pre {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

details>div {
  padding: 1rem
}

details ul {
  margin-right: 1.5rem
}